@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary-h: 150;
	--color-primary-s: 84%;
	--color-primary-l: 29.4%;
}

@layer base {
	h1,
	h2,
	h3,
	h4 {
		@apply font-bold;
	}
}
